In [7]:
import pandas as pd
import pymongo

In [8]:
client = pymongo.MongoClient('localhost', 27017)
col = client["Shipments"]["international_routes"]
results = col.find({})

In [9]:
df1 = pd.DataFrame(results[0]["data"])
df2 = pd.DataFrame(results[1]["data"])

In [10]:
df1

   class  size(inch cube)  weight (lb)     from        to  price ($)
0   150%      1267.128499    27.623248    China   Finland        653
1   150%      1267.128499    27.623248    China  New York        275
2   150%      1267.128499    27.623248  Germany   Finland        111
3   150%      1267.128499    27.623248  Germany  New York        248
4   150%      1267.128499    27.623248    Texas   Finland        194
5   150%      1267.128499    27.623248    Texas  New York         39
6   125%      1055.940415    23.019374    China   Finland        569
7   125%      1055.940415    23.019374    China  New York        248
8   125%      1055.940415    23.019374  Germany   Finland        111
9   125%      1055.940415    23.019374  Germany  New York        220
10  125%      1055.940415    23.019374    Texas   Finland        149
11  125%      1055.940415    23.019374    Texas  New York         33
12  100%       844.752332    18.415499    China   Finland        499
13  100%       844.752332    18.415499    China  New York        220
14  100%       844.752332    18.415499  Germany   Finland        103
15  100%       844.752332    18.415499  Germany  New York        194
16  100%       844.752332    18.415499    Texas   Finland        140
17  100%       844.752332    18.415499    Texas  New York         24
18   75%       633.564249    13.811624    China   Finland        430
19   75%       633.564249    13.811624    China  New York        191
20   75%       633.564249    13.811624  Germany   Finland         98
21   75%       633.564249    13.811624  Germany  New York        171
22   75%       633.564249    13.811624    Texas   Finland        126
23   75%       633.564249    13.811624    Texas  New York         23
24   50%       422.376166     9.207749    China   Finland        360
25   50%       422.376166     9.207749    China  New York        139
26   50%       422.376166     9.207749  Germany   Finland         98
27   50%       422.376166     9.207749  Germany  New York        139
28   50%       422.376166     9.207749    Texas   Finland         98
29   50%       422.376166     9.207749    Texas  New York         18

In [11]:
df2

   class  size(inch cube)  weight (lb)     from        to  price ($)
0   150%      1267.640765    27.625424    China   Finland        653
1   150%      1267.640765    27.625424    China  New York        275
2   150%      1267.640765    27.625424  Germany   Finland        112
3   150%      1267.640765    27.625424  Germany  New York        250
4   150%      1267.640765    27.625424    Texas   Finland        198
5   150%      1267.640765    27.625424    Texas  New York         39
6   125%      1056.367304    23.021187    China   Finland        569
7   125%      1056.367304    23.021187    China  New York        248
8   125%      1056.367304    23.021187  Germany   Finland        112
9   125%      1056.367304    23.021187  Germany  New York        222
10  125%      1056.367304    23.021187    Texas   Finland        151
11  125%      1056.367304    23.021187    Texas  New York         33
12  100%       845.093843    18.416949    China   Finland        499
13  100%       845.093843    18.416949    China  New York        220
14  100%       845.093843    18.416949  Germany   Finland        104
15  100%       845.093843    18.416949  Germany  New York        195
16  100%       845.093843    18.416949    Texas   Finland        141
17  100%       845.093843    18.416949    Texas  New York         16
18   75%       633.820382    13.812712    China   Finland        430
19   75%       633.820382    13.812712    China  New York        192
20   75%       633.820382    13.812712  Germany   Finland         99
21   75%       633.820382    13.812712  Germany  New York        172
22   75%       633.820382    13.812712    Texas   Finland        126
23   75%       633.820382    13.812712    Texas  New York         16
24   50%       422.546922     9.208475    China   Finland        360
25   50%       422.546922     9.208475    China  New York        140
26   50%       422.546922     9.208475  Germany   Finland         99
27   50%       422.546922     9.208475  Germany  New York        140
28   50%       422.546922     9.208475    Texas   Finland         99
29   50%       422.546922     9.208475    Texas  New York         14

In [16]:
# compare "price ($)" column values between two dataframes and print the % total difference
df1["price ($)"].sum() / df2["price ($)"].sum() * 100

99.949358541526

In [17]:
# check which rows in df1 are different compared to df2 based on "price ($)" column values
df1[df1["price ($)"] != df2["price ($)"]]

   class  size(inch cube)  weight (lb)     from        to  price ($)
2   150%      1267.128499    27.623248  Germany   Finland        111
3   150%      1267.128499    27.623248  Germany  New York        248
4   150%      1267.128499    27.623248    Texas   Finland        194
8   125%      1055.940415    23.019374  Germany   Finland        111
9   125%      1055.940415    23.019374  Germany  New York        220
10  125%      1055.940415    23.019374    Texas   Finland        149
14  100%       844.752332    18.415499  Germany   Finland        103
15  100%       844.752332    18.415499  Germany  New York        194
16  100%       844.752332    18.415499    Texas   Finland        140
17  100%       844.752332    18.415499    Texas  New York         24
19   75%       633.564249    13.811624    China  New York        191
20   75%       633.564249    13.811624  Germany   Finland         98
21   75%       633.564249    13.811624  Germany  New York        171
23   75%       633.564249    13.811624    Texas  New York         23
25   50%       422.376166     9.207749    China  New York        139
26   50%       422.376166     9.207749  Germany   Finland         98
27   50%       422.376166     9.207749  Germany  New York        139
28   50%       422.376166     9.207749    Texas   Finland         98
29   50%       422.376166     9.207749    Texas  New York         18