In [1]:
import requests
import pandas as pd

C:\Users\Alibaba\AppData\Local\Programs\Python\Python39\lib\site-packages\requests\__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (5.0.0)/charset_normalizer (2.0.12) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

In [21]:
def get_data(country_code, country):
    cookies = {
        'ezoadgid_232529': '-1',
        'ezoref_232529': 'google.com',
        'ezoab_232529': 'mod43-c',
        'ezepvv': '0',
        'ezovid_232529': '72172677',
        'lp_232529': 'https://randommer.io/random-address',
        'ezovuuid_232529': 'f29191e3-fb3e-40b5-49a6-79b2ce751ef5',
        'ezds': 'ffid%3D1%2Cw%3D1920%2Ch%3D1080',
        'ezohw': 'w%3D1920%2Ch%3D937',
        'ezCMPCookieConsent': '-1=1|1=1|2=1|3=1|4=1',
        'ezux_ifep_232529': 'true',
        'ezosuibasgeneris-1': '278817d5-d1f8-4792-67d6-b46693ef0ecf',
        'ezCMPCCS': 'true',
        '__qca': 'P0-1037817253-1657481833459',
        '.AspNetCore.Antiforgery.9TtSrW0hzOs': 'CfDJ8IHyMUllUkRMnqJ3YlgaUfccYjL9_bQMAg5iXkkWlBrLDIxU_wfbRT6pUoPnqYwULw5KvbNHq4MrEYunNzDwNI9jFOn5G_YaJM5VJHlB2sEOgwhF0mPijXop5XXzn-D7EX00HRnvJ7-nqkgHykisvaE',
        '__cf_bm': 'IUqT3x27v6DcMQK0JsuGPEAHhUtCprJr1H8g151jEQc-1657482227-0-AdY2q56YqEtJFOv5MMsyBDzXMT5qFAxqoHu1n+QWSrA01MbVZBcSYrjNi0Ucx2WH6qlQ8hgP7C+H4XXFzaQ4YALG0knYkc3IVbJ57E3CjoNrgtENv072ETVQbL61qCeSdg==',
        '.AspNetCore.Identity.Application': 'CfDJ8IHyMUllUkRMnqJ3YlgaUffOibzGt3Lgr92rChOYgG4O5FXdej2eaJa2c4EpHFtiuv96bxRn34QzfOtU4gr05qEWLr6lxWqps8yaRI5opU3a__Dw_lYEQrajKSmbKLlOhMmGOPeAl_g6-PV0fLvnvFk51AaGHn16oPMXU-vrJLduXnddd2JpPpdJn2GU4ttHIsDYkhrK_71hX0Y0Zq9t6OUKDKS26IdA_xkGhxNwi78edEFtoaSk3O_gxMNKzrCcVtVXFPMFDbbT4XvTgQFha8uhr3ft23TFvQCEOIqlhth7lkySduEkwnhuBMt2ZQM7CBy7iLPEYj9NrU3kDBmXveyfSqpx5G7NdomIa_0I5YDKj9Uauq8rsIKJX4I7KwREBK9fUS5zQdGj18Ms2MsDPdIo1t78rP-L4d511wIgia_ZcPxxaZSW083mY5cHhhPiYsTkteZqkephJOfZAxlw0v405owOtqSH--9Xl97bap0D5TsimpiXksVyR_GDsa9SQHXuVQ_9bplQujWyTTt1l8AmEzkCuwwCF-ZVdCfSFIVpZY7YCrlcjdY9SFmx7kaJxhB1IXnebwrkIkLQmzX_nyW54iLQ92Qk5F_Gf76CAnEqAQUNd41rjq903IamwQbv7_UaupP0EnV2wH6ujqDKESwGYN3vhSkt1c4wyV58T79sYpbuyBLPqIADUV_IikF0xuH0Ze-T5vze5qOLNJTUpUGEQMcktNsaaIy5W-79Tn9Iukdx_4sb3F0B1TbPXbjz0A',
        'ezux_lpl_232529': '1657482448915|491ab2be-f1ea-46e7-6358-1f6bc646ed59|false',
        'ezux_et_232529': '295',
        'ezux_tos_232529': '1115',
        'active_template::232529': 'pub_site.1657482477',
        'ezopvc_232529': '29',
        'ezovuuidtime_232529': '1657482478',
    }

    headers = {
        'authority': 'randommer.io',
        'accept': '*/*',
        'accept-language': 'en-GB,en;q=0.9,en-US;q=0.8,fi;q=0.7,ko;q=0.6',
        'content-type': 'application/x-www-form-urlencoded; charset=UTF-8',
        'origin': 'https://randommer.io',
        'sec-ch-ua': '".Not/A)Brand";v="99", "Google Chrome";v="103", "Chromium";v="103"',
        'sec-ch-ua-mobile': '?0',
        'sec-ch-ua-platform': '"Windows"',
        'sec-fetch-dest': 'empty',
        'sec-fetch-mode': 'cors',
        'sec-fetch-site': 'same-origin',
        'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36',
        'x-requested-with': 'XMLHttpRequest',
    }

    data = {
        'number': '1',
        'culture': country_code,
        'X-Requested-With': 'XMLHttpRequest',
    }

    response = requests.post('https://randommer.io/random-address', cookies=cookies, headers=headers, data=data)
    data = response.json()

    address = {
        "country": country,
        "zip": str(data[0].split(",")[2]).rstrip().lstrip()
    }

    return address

In [22]:
def make_db(data_df: pd.DataFrame):
    import pymongo
    import datetime as dt
    client = pymongo.MongoClient()
    db = client["Shipments"]
    col = db["addresses"]
    col.insert_one({"time": dt.datetime.now(), "data": data_df.to_dict(orient="records")})

In [23]:
accepted_country_codes = {
    "South Africa": "af_ZA",
    "Georgia": "ge",
    "Saudi Arabia": "ar",
    "Indonesia": "id_ID",
    "Azerbaijan": "az",
    "Italy": "it",
    "Czech Republic": "cz",
    "Japan": "ja",
    "Germany": "de",
    "Korea": "ko",
    "Austria": "de_AT",
    "Latvia": "lv",
    "Switzerland": "de_CH",
    "Norway": "nb_NO",
    "Greece": "el",
    "Netherlands": "nl",
    "Australia": "en_AU",
    "Belgium": "nl_BE",
    "Poland": "pl",
    "Brazil": "pt_BR",
    "Canada": "en_CA",
    "Portugal": "pt_PT",
    "England": "en_GB",
    "Romania": "ro",
    "Ireland": "en_IE",
    "Russia": "ru",
    "Slovakia": "sk",
    "Sweden": "sv",
    "Turkey": "tr",
    "Spain": "es",
    "Ukraine": "uk",
    "Mexico": "es_MX",
    "Vietnam": "vi",
    "Iran": "fa",
    "China": "zh_CN",
    "France": "fr",
    "Taiwan": "zh_TW",
    "Quebec": "fr_CA",
    "Zulu": "zu_ZA",
}

total_data = []
for k, v in accepted_country_codes.items():
    try:
        address = get_data(v, k)
        total_data.append(address)
    except:
        print(k, v)

df = pd.DataFrame(total_data)
df

           country         zip
0     South Africa        1267
1          Georgia        0136
2     Saudi Arabia         103
3        Indonesia       01830
4       Azerbaijan      m. 609
5            Italy       51413
6   Czech Republic      755 22
7            Japan    740-7693
8          Germany       64468
9            Korea     261-586
10         Austria        3274
11          Latvia     LV-8472
12     Switzerland        4426
13          Norway        0619
14          Greece  54530-5311
15     Netherlands     2281 TD
16       Australia        7866
17         Belgium        3255
18          Poland      22-716
19          Brazil   99119-600
20          Canada     A2H 1D7
21        Portugal    2100-855
22         England    NQ55 3EN
23         Romania     Ap. 699
24         Ireland  52003-5449
25          Russia     кв. 346
26        Slovakia      47 424
27          Sweden       02398
28          Turkey       87571
29           Spain       56846
30         Ukraine     кв. 437
31          Mexico       23062
32         Vietnam       94717
33            Iran      واحد 7
34           China      913830
35          France       23301
36          Taiwan      716960
37          Quebec     K9F 2O1
38            Zulu        6698

In [35]:
df.iloc[4, 1]

'm. 609'

In [48]:
df.iloc[33, 1] = "84084-73701"

In [49]:
df

           country          zip
0     South Africa         1267
1          Georgia         0136
2     Saudi Arabia        35424
3        Indonesia        01830
4       Azerbaijan       AZ7130
5            Italy        51413
6   Czech Republic        61400
7            Japan     740-7693
8          Germany        64468
9            Korea      261-586
10         Austria         3274
11          Latvia      LV-8472
12     Switzerland         4426
13          Norway         0619
14          Greece   54530-5311
15     Netherlands      2281 TD
16       Australia         7866
17         Belgium         3255
18          Poland       22-716
19          Brazil    99119-600
20          Canada      A2H 1D7
21        Portugal     2100-855
22         England     NQ55 3EN
23         Romania       185989
24         Ireland   52003-5449
25          Russia       633761
26        Slovakia       47 424
27          Sweden        02398
28          Turkey        87571
29           Spain        56846
30         Ukraine        84342
31          Mexico        23062
32         Vietnam        94717
33            Iran  84084-73701
34           China       913830
35          France        23301
36          Taiwan       716960
37          Quebec      K9F 2O1
38            Zulu         6698

In [50]:
make_db(df)

In [5]:
import pymongo
client = pymongo.MongoClient()
db = client["Shipments"]
col = db["addresses"]
data = col.find_one({})
df = pd.DataFrame(data["data"])
df

           country          zip
0     South Africa         1267
1          Georgia         0136
2     Saudi Arabia        35424
3        Indonesia        01830
4       Azerbaijan       AZ7130
5            Italy        51413
6   Czech Republic        61400
7            Japan     740-7693
8          Germany        64468
9            Korea      261-586
10         Austria         3274
11          Latvia      LV-8472
12     Switzerland         4426
13          Norway         0619
14          Greece   54530-5311
15     Netherlands      2281 TD
16       Australia         7866
17         Belgium         3255
18          Poland       22-716
19          Brazil    99119-600
20          Canada      A2H 1D7
21        Portugal     2100-855
22         England     NQ55 3EN
23         Romania       185989
24         Ireland   52003-5449
25          Russia       633761
26        Slovakia       47 424
27          Sweden        02398
28          Turkey        87571
29           Spain        56846
30         Ukraine        84342
31          Mexico        23062
32         Vietnam        94717
33            Iran  84084-73701
34           China       913830
35          France        23301
36          Taiwan       716960
37          Quebec      K9F 2O1
38            Zulu         6698

In [6]:
df.to_json("other_countries_zipcodes.json")